body {
    
    background-color: #f0f0f0;
    margin: 0;
    
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 8rem;
    margin-bottom: 2rem;
 
    
}



.stone-selection {
    display: flex;
    justify-content: space-between;
    gap: 20px; /* Añadido espacio entre miniaturas y previsualización */
}

.stone-thumbnails {
    width: 20%;
    max-height: 500px;
    overflow-y: scroll; /* Ocultamos la barra de scroll pero sigue funcional */
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    background-color: white;
}

.scrollable-thumbnails {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.thumbnail {
    position: relative;
    text-align: center;
}

.thumbnail p {
    margin: 0 0 5px 0;
    font-weight: bold;
}

.thumbnail img {
    width: 100%;
    cursor: pointer;
    transition: transform 0.2s ease;
    object-fit: cover;
}

.thumbnail img:hover {
    transform: scale(1.05);
}

/* Ocultar barra de scroll */
.stone-thumbnails::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.stone-thumbnails {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.preview {
    width: 75%;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

#preview-area {
    width: 100%;
    height: 400px;
    background-color: #ddd;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#stone {
    width: 100%;
    height: 100%;

}

#company-logo {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 60px; /* Ajustar el tamaño del logo */
    height: auto;
}

#help-logo {
    position: absolute;
    cursor: pointer;
    top: 15px;
    right: 60px;
    width: 60px; /* Ajustar el tamaño del logo */
    height: auto;
}

#help-logo2 {
    position: absolute;
    cursor: pointer;
    top: 15px;
    right: 60px;
    width: 60px; /* Ajustar el tamaño del logo */
    height: auto;
}

#help-logo3 {
    position: absolute;
    cursor: pointer;
    top: 15px;
    right: 60px;
    width: 60px; /* Ajustar el tamaño del logo */
    height: auto;
}



/* Estilo para las pestañas */
.tab-menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.tab-button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    flex-grow: 1;
    text-align: center;
}

.tab-button.active {
    background-color: #555;
}

.tab-button:hover {
    background-color: #555;
}

/* Ocultar y mostrar paneles */
.tab-panel {
    display: none;
}

.tab-panel.active {
    display: block;
}

.material-tab {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}







/* Ajustes específicos para la pestaña "Diseño" */
.design-selection {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

/* Ajustes para el panel "Diseño" con miniaturas más estrechas y del mismo tamaño */
.design-thumbnails {
    width: 30%;  /* Hacemos el contenedor más estrecho */
    max-height: 500px;
    overflow-y: scroll;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    background-color: white;
}

.scrollable-thumbnails-design {
    display: grid;
    grid-template-columns: repeat(2, 1fr);  /* Mantener 2 columnas */
    gap: 10px;  /* Espacio entre miniaturas */
}

/* Ajustes para que las imágenes no se recorten */
.thumbnail-design img {
    width: 100%; 
    height: 150px;  /* Altura fija para todas las imágenes */
    object-fit: contain;  /* Aseguramos que las imágenes mantengan su aspecto original */
    cursor: pointer;
    transition: transform 0.2s ease;
    background-color: #f0f0f0; /* Fondo para rellenar los espacios si la imagen no ocupa todo el contenedor */
}

.thumbnail-design img:hover {
    transform: scale(1.05);
}


/* Ocultar barra de scroll */
.design-thumbnails::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.design-thumbnails {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#preview-area {
    width: 100%;
    height: 400px;
    background-color: #ddd;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
}

#preview-area2 {
    width: 100%;
    height: 400px;
    background-color: #ddd;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
}


.draggable {
    cursor: move;
    position: absolute;
    transition: transform 0.2s ease;
}


.category-buttons {
    display: flex;
    flex-direction: column;
    margin-right: 20px; /* Espacio entre los botones y las miniaturas */
}

.category-button {
    background-color: #000; /* Color de fondo negro */
    color: white; /* Texto en blanco */
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
}

.category-button:hover {
    background-color: #333; /* Cambia de color al pasar el ratón */
}

.text-panel {
    display: flex;
    justify-content: space-between; 
    height: 100%;
    padding: 20px;
    gap: 20px; /* Espacio adicional entre los contenedores */
}


.text-left-container {
    flex-basis: 25%; /* Usar flex-basis para dar un ancho preferido */
    max-width: 25%; /* Limitar el ancho máximo */
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.text-right-container {
    flex-basis: 25%; /* Usar flex-basis para dar un ancho preferido */
    max-width: 15%; /* Limitar el ancho máximo */
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.text-preview-container {
    flex: 1; /* Esto hará que el contenedor central ocupe el espacio restante */
    min-width: 55%; /* Mantener un ancho mínimo */
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}



#preview-area-text {
    width: 100%;
    height: 400px;
    position: relative;
}

.text-left-container {
    display: flex;
    flex-direction: column;
}

.text-form {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Espacio entre inputs */
}

.form-group {
    display: flex;
    align-items: center; /* Alinear verticalmente */
    gap: 10px; /* Espacio entre label e input */
    margin-top: 2px; /* Margen en la parte superior de cada grupo */
    margin-bottom: 2px; /* Margen en la parte inferior de cada grupo */
}

label {
    width: 60px; /* Ancho fijo para las etiquetas */
}

input {
    flex: 1; /* Hacer que los inputs ocupen el espacio restante */
    padding: 3px; /* Relleno interno para los inputs */
    border: 1px solid #ccc; /* Borde del input */
    border-radius: 4px; /* Bordes redondeados */
}

#preview-nombre,
#preview-apellido,
#preview-fecha,
#preview-frase {
    position: absolute; /* Para posicionar en la previsualización */
    color: rgb(255, 255, 255); /* Color del texto */
    font-size: 40px; /* Tamaño del texto */
    padding: 10px; /* Espacio alrededor del texto */
    
    border-radius: 5px; /* Bordes redondeados */
}

/* Posicionamiento vertical */
#preview-nombre {
    top: 15%; /* Ajusta según sea necesario */
    left: 52%;
     /* Ajusta según sea necesario */
}

#preview-apellido {
    top: 30%; /* Ajusta según sea necesario */
    left: 37%; /* Ajusta según sea necesario */
}

#preview-fecha {
    top: 45%; /* Ajusta según sea necesario */
    left: 40%; /* Ajusta según sea necesario */
    font-size: 20px;
}

#preview-frase {
    top: 82%; /* Ajusta según sea necesario */
    left: 25%; /* Ajusta según sea necesario */
    font-size: 24px;
}


.draggable-text {
    color: rgb(255, 255, 255); /* Color del texto */
    font-size: 40px; /* Tamaño del texto */
    padding: 10px; /* Espacio alrededor del texto */
    
    border-radius: 5px; /* Bordes redondeados */
}

/* Estilos para el nodo de redimensionamiento */
.resize-handle {
    background: blue;
    cursor: nwse-resize;
    width: 10px;
    height: 10px;
    position: absolute;
    right: -5px;
    bottom: -5px;
}


.delete-button {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    background: red;
    color: white;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
}

.texto-personalizado {
    border: 1px dashed #ccc; /* Línea discontinua para distinguir el texto */
    padding: 5px;
    margin: 5px 0;
    background-color: rgba(255, 255, 255, 0.7);
    width: fit-content; /* Ajustar el ancho según el contenido */
}





.text-form {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Espacio entre inputs */
}

.form-group {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
}

input[type="text"], input[type="color"], select {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button.styled-button {
    padding: 5px 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button.styled-button:hover {
    background-color: #0056b3;
}

/* Arreglar el botón de Añadir Texto */
#btn-agregar-texto {
    margin-left: 10px;
    padding: 6px 12px;
}

/* Nuevos botones para cambiar tamaño */
#btn-increase-font, #btn-decrease-font {
    width: 150px;
}


#font-family-container {
    position: relative;
    display: inline-block;
}

.dropdown {
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 8px;
    background-color: white;
    border-radius: 4px;
}

.dropdown-list {
    display: none; /* Ocultar la lista por defecto */
    position: absolute;
    z-index: 1000;
    border: 1px solid #ccc;
    background-color: white;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dropdown-list li {
    padding: 8px;
    cursor: pointer;
}

.dropdown-list li:hover {
    background-color: #f0f0f0;
}
@font-face {
    font-family: 'Lucida Handwriting';
    src: url('../fonts/LucidaHand.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Playball';
    src: url('../fonts/Playball.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.text-right-container {
    flex-basis: 25%; /* Ancho preferido */
    max-width: 10%; /* Limitar el ancho máximo */
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* Permite desplazamiento vertical si es necesario */
    height: 100%; /* Ajusta la altura para ocupar el contenedor completo */
}

.ceramic-thumbnails {
    display: flex;
    flex-direction: column; /* Alinear las imágenes en una sola columna */
    gap: 10px; /* Espacio entre imágenes */
    max-height: 400px; /* Ajusta esta altura según cuántas imágenes quieras mostrar */
    overflow-y: auto; /* Permite el desplazamiento vertical */
}

/* Mantener el resto del CSS igual */
.thumbnail-ceramic {
    width: 100%; /* Asegura que el contenedor ocupe el ancho completo */
    display: flex;
    justify-content: center; /* Centrar la imagen en su contenedor */
}

.thumbnail-ceramic img {
    width: 100px; /* Ajusta el ancho para todas las imágenes */
    height: 100px; /* Ajusta la altura para todas las imágenes */
    object-fit: cover; /* Asegura que la imagen ocupe el contenedor sin distorsionarse */
    border-radius: 8px; /* Bordes redondeados opcionales */
}

.thumbnail-ceramic img:hover {
    transform: scale(1.05);
}

/* Ocultar barra de scroll */
.ceramic-thumbnails::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.ceramic-thumbnails {
    -ms-overflow-style: none; /* Para Internet Explorer y Edge */
    scrollbar-width: none; /* Para Firefox */
}

/* HEADER */



.main-header {
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    padding: 10px 0;
  }
  
  .main-header-image {
    max-height: 400px;
    margin: 0 auto; /* Center the image */
}
  .navbar {
    background-color: #E6E6E6;
    padding: 10px 0;
    text-align: center;
    width: 50%;
    z-index: 1;
    top: 400px;
    padding: 40px 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    position: absolute;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list li {
    margin: 0 15px;
}

.nav-list a {
    text-decoration: none;
    color: #909090;
    font-size: 16px;
    font-weight: bold;
    font-size: 20px; 
}

.nav-list a:hover {
    color: #000;
}


/* FOOTER  */


  /*FOOTER*/
  .bg-dark {
    background: #333;
    color: #f4f4f4;
  }
  
  footer {
    padding: 2.2rem;
    
  }
  
  footer p {
    margin: 0;
  }
  

  footer{
  
  background-color:#121619;
  color:#fff;
  }
  
  .top_header{
  padding:2rem;
  display:flex;
  align-items:center;
  justify-content:center;
  position:relative;
  }
  
  .top_header section{
  display:flex;
  align-items:center;
  justify-content:center;
  width:100%;
  }
  
  .top_header span{
  padding:0 1rem;
  }
  
  .top_header .fa{
  color:#ffffff;
  font-size:35px;
  }
  
  footer .border-shape {
  width: 40%;
  }
  
  footer .border-shape::before {
  width: 100%;
  left:120px;
  }
  
  footer .border-shape::after {
  width: 100%;
  right:120px;
  }
  
  footer .bottom_content section{
  padding:1.5rem 2rem;
  display:flex;
  align-items:center;
  justify-content:Center;
  }
  
  .bottom_content a{
  margin:0 20px;
  color:rgba(255,255,255,0.7);
  transition:0.5s;
  }
  
  .bottom_content a:hover{
  color:rgba(255,255,255,1);
  }
  
  
  .copyright{
  padding:0.8em 0;
  background-color:#1e1e1e;
  text-align:center;
  color:rgba(255,255,255,0.7);
  font-size:12px;
  }


  
  @media (max-width:820px){
    .top_header{
    padding:1rem;
    display:block;
    }
    
    .top_header section{
    margin:40px 0;
    align-items:left;
    justify-content:left;
    }
    footer .bottom_content section{
    padding:1rem;
    display:block;
    }
    footer .bottom_content section a{
    padding:1rem;
    font-size:12px;
    margin:0 5px;
    display:inline-block;
    }
    }
    a{
      text-decoration:none;
      outline:none !important;
      color:#fff;
      }
      
      .border-shape {
      background: #ffffff none repeat scroll 0 0;
      color: #fff;
      display: block;
      height: 3px;
      left: 0;
      margin: 20px auto;
      position: relative;
      right: 0;
      text-align: center;
      top: 0;
      width: 80px;
      }
      
      .border-shape::before {
      background: #ffffff none repeat scroll 0 0;
      bottom: 0;
      content: "";
      height: 1px;
      left: 80px;
      margin: 0 auto;
      position: absolute;
      text-align: center;
      top: 1px;
      width: 100px;
      }
      
      .border-shape::after {
      background: #ffffff none repeat scroll 0 0;
      bottom: 0;
      content: "";
      height: 1px;
      margin: 0 auto;
      position: absolute;
      right: 80px;
      text-align: center;
      top: 1px;
      width: 100px;
      }
  
      .float{
        position:fixed;
        width:60px;
        height:60px;
        bottom:40px;
        right:40px;
        background-color:#25d366;
        color:#FFF;
        border-radius:50px;
        text-align:center;
        font-size:30px;
        box-shadow: 2px 2px 3px #999;
        z-index:100;
      }
      
      .my-float{
        margin-top:16px;
      }


    .swal2-container.blur {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.4) !important;
}

    
  
  